@import "_global.scss";
footer {
  min-height: 10vh;
}
hr {
  border: 1px solid $contentColor;
  opacity: 0.6;
  width: 90%;
  margin: auto;
}
.footerGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
  .textFooter {
    color: $contentColor;
    font-family: $contentFont;
    font-size: 55%;
    letter-spacing: 5px;
  }
  .addressInfo {
    padding-top: 3%;
  }
  .socialMediaLogos {
    align-items: end;
    column-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: auto;
    width: 200px;
    .smLogo {
      width: 42px;
      opacity: 0.7;
    }
  }
  .copyrightInfo {
    font-size: 100%;
    letter-spacing: normal;
    padding-top: 5%;
  }
}
