@import "_global.scss";
.ftrDsktp {
  display: none;
}
.ftrMbl {
  min-height: 10vh;
}
hr {
  border: 1px solid $contentColor;
  opacity: 0.6;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
.footerGrid {
  display: grid;
  place-items: center;
  text-align: center;
  width: 90%;
  margin: auto;
}
  .resoFtr {
    color: $featureColor;
    font-weight: bold;
    margin-bottom: 10px;
    &:active {
      color: $featureColor;
    }
  }
.textFooter,
a {
  font-family: $contentFont;
  font-size: 9px;
  letter-spacing: 3px;
  color: $contentColor;
}

.socialMediaLogos {
  column-gap: 5px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 40vw;
  margin-bottom: 10px;
  .smLogo {
    width: 42px;
    opacity: 0.7;
  }
}
.copyrightInfo {
  font-size: 100%;
  letter-spacing: normal;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media only screen and (min-width: 600px) {
  .textFooter,
  a {
    font-size: 15px;
    letter-spacing: 4px;
  }
  .footerGrid {
    .socialMediaLogos {
      column-gap: 0;
      width: 30vw;
      margin-bottom: 5px;
      .smLogo {
        width: 60px;
      }
    }
  }
  #inactiveDsktp {
    pointer-events: none;
  }
}
@media only screen and (min-width: 1000px) {
  .ftrMbl {
    display: none;
  }
  .ftrDsktp {
    display: grid;
    .ftrDsktpContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      a,
      p {
        text-align: center;
        font-family: $contentFont;
        font-size: 10px;
        color: $contentColor;
        letter-spacing: 6px;
      }
      a {
        display: block;
        margin: auto;
        font-weight: bold;
        font-size: 14px;
        color: $featureColor;
        &:hover {
          color: $contentColor;
        }
      }
      .centerSocialMedia {
        margin-top: 10px;
        display: grid;
        place-items: center;
        .ftrLogoAndName {
          width: 180px;
          margin-bottom: 10px;
        }
        .socialMediaLogos {
          column-gap: 5px;
          display: grid;
          place-items: center;
          grid-template-columns: 1fr 1fr 1fr;
          width: 10vw;
          margin-bottom: 10px;
          .smLogo {
            width: 42px;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .copyrightInfo {
    font-size: 12px;
    letter-spacing: normal;
    text-align: center;
    padding-top: 0;
    padding-bottom: 1%;
  }
}
