@import "_global.scss";
.ftrDsktp {
  display: none;
}
.ftrMbl {
  min-height: 10vh;
}
hr {
  border: 1px solid $contentColor;
  opacity: 0.6;
  width: 90%;
  margin: auto;
}
.footerGrid {
  display: grid;
  place-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
  .textFooter {
    color: $contentColor;
    font-family: $contentFont;
    font-size: 8px;
    letter-spacing: 3px;
  }
  :first-child {
    margin-top: 10px;
  }
  #inactiveDsktp {
    pointer-events: none;
  }
  .socialMediaLogos {
    column-gap: 5px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    .smLogo {
      width: 42px;
      opacity: 0.7;
    }
  }
  .copyrightInfo {
    font-size: 100%;
    letter-spacing: normal;
    padding-top: 4%;
    padding-bottom: 2%;
  }
}

@media only screen and (min-width: 600px) {
  .textFooter {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .socialMediaLogos {
    width: 30%;
    .smLogo {
      width: 50px;
    }
  }
  .copyrightInfo {
    padding-top: 5%;
    padding-bottom: 2%;
  }
}
@media only screen and (min-width: 1000px) {
  .ftrMbl {
    display: none;
  }
  .ftrDsktp {
    display: grid;
    .ftrDsktpContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      a {
        display: block;
        margin: auto;
      }
      a,
      p {
        text-align: center;
        font-family: $contentFont;
        font-size: 10px;
        color: $contentColor;
        letter-spacing: 6px;
      }
      .centerSocialMedia {
        margin-top: 10px;
        display: grid;
        place-items: center;
        .ftrLogoAndName {
          width: 180px;
          margin-bottom:10px;
        }
        .socialMediaLogos {
          column-gap: 5px;
          display: grid;
          place-items: center;
          grid-template-columns: 1fr 1fr 1fr;
          width: 100%;
          margin-bottom: 10px;
          .smLogo {
            width: 42px;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .copyrightInfo {
    font-size: 12px;
    letter-spacing: normal;
    text-align: center;
    padding-top: 0;
    padding-bottom: 1%;
  }
}
