* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
$homepageFont: "Shippori Mincho", serif;
$homepageFontColor: #ededed;
$contentFont: "Libre Baskerville", serif;
$contentColor: #403637;
$featureColor: #d3b468;
a {
  text-decoration: none;
}
main {
  min-height: 80vh;
}
@mixin button {
  background: $featureColor;
  border-radius: 8px;
  box-shadow: 1.5px 1.5px 5px #ddc589;
  color: $contentColor;
  font-weight: bold;
  text-align: center;
}
//  @mixin button: hover {
//    background:#C9A446}
// @mixin buttonActive{}
// @mixin contentTextStyling{

// }
