@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
$homepageFont: "Shippori Mincho", serif;
$contentFont: "Libre Baskerville", serif;
$contentColor: #403637;
$homepageFontColor: #ededed;
$featureColor: #d3b468;
a {
  text-decoration: none;
}
