* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
$homepageFont: "Shippori Mincho", serif;
$homepageFontColor: #ededed;
$contentFont: "Libre Baskerville", serif;
$contentColor: #403637;
$featureColor: #d3b468;
$buttonColor: #ddc589;
a {
  text-decoration: none;
}
main {
  min-height: 70vh;
}
@mixin button {
  background: $buttonColor;
  border-radius: 10px;
  box-shadow: 1.5px 1.5px 5px;
  color: $contentColor;
  font-weight: bold;
  text-align: center;
  // & :hover {
  // }
  &:active {
    height:25px;
    background: $featureColor;
    font-size: 20px;
    transition: font 0.2s ease-in-out;
  }
}
//  @mixin button: hover {
//    background:#C9A446}
// @mixin buttonActive{}

@mixin pageTitle {
  color: $contentColor;
  display: grid;
  font-size: 1.5em;
  font-weight: bold;
  place-items: center;
  text-align: center;
  // font-family: $contentFont;
}
@mixin pageContent {
  color: $contentColor;
  font-size: 1em;
  font-weight: bold;
}
