@import "_global.scss";
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-height: 20vh;
  width: 100%;
  place-items: center;
}
.phoneIcon {
  height: 30px;
  margin-left: 5px;
  opacity: 0.8;
  padding-top: 10px;
}
.logoAndTitle {
  padding-left: 20px;
  width: 80%;
  margin-top: 10px;
}
.hamburgerMenu {
  .mobileMenuCheckbox {
    height: 40px;
    opacity: 0;
    position: absolute;
    width: 40px;
    z-index: 1001;
  }
  .mobileMenuCheckbox:checked ~ .mobileHeaderDropdown {
    opacity: 0.89;
    top: 0vh;
    transition: all 0.5s ease-in-out;
  }
  #homepageDropdown {
    opacity: 1;
  }
  .mobileHamburgerContainer {
    display: grid;
    height: 30px;
    padding-top: 5px;
    place-items: center;
    position: relative;
    width: 30px;
    z-index: 1000;
  }
  .hamburgerMenuLine {
    background-color: $featureColor;
    border-radius: 10px;
    height: 4px;
    margin: 3px 0;
    padding: 0.5px;
    width: 30px;
    opacity: 0.8;
  }
  .mobileHeaderDropdown {
    background-color: #010a0a;
    display: grid;
    height: 100%;
    left: 0;
    opacity: 0;
    place-items: center;
    position: fixed;
    transition: all 0.5s ease-in-out;
    top: -200vh;
    width: 100%;
    z-index: 999;
    .dropdownLinksContainer {
      display: grid;
      place-items: center;
    }
    .linkHeaderDropdown {
      color: $featureColor;
      font-family: $homepageFont;
      font-size: 13vw;
      font-weight: bold;
    }
    #active {
      color: $homepageFontColor;
    }
  }
}

// @media only screen and (min-height: 800px){
//   // header{
//   //   max-height: 20vh;
//   // }

// }
