@import "_footer.scss";
@import "_header.scss";
@import "_global.scss";
.caroAbtPg {
  position: relative;
  .imgSpace {
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
  }
  .radio {
    display: none;
  }
  .labelsContainer {
    display: grid;
    grid-auto-flow: column;
    width: 40vw;
    margin: auto;
    place-items:center;
    .radioLbl {
      @include pageContent;
      font-size: 1em;
    }
  }
  .caroImg {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: scale(0.8);
  img {
    padding-top: 2%;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }}
  #carOne:checked ~ .labelsContainer #radioLbl1,
  #carTwo:checked ~ .labelsContainer #radioLbl2,
  #carThree:checked ~ .labelsContainer #radioLbl3,
  #carFour:checked ~ .labelsContainer #radioLbl4,
  #carFive:checked ~ .labelsContainer #radioLbl5,
  #carSix:checked ~ .labelsContainer #radioLbl6 {
    color: $featureColor;
  }
  #carOne:checked ~ #abtOne,
  #carTwo:checked ~ #abtTwo,
  #carThree:checked ~ #abtThree,
  #carFour:checked ~ #abtFour,
  #carFive:checked ~ #abtFive,
  #carSix:checked ~ #abtSix {
    opacity: 1;
    transform: scale(1);
  }
}
#abtOne, #abtTwo, #abtThree, #abtFour, #abtFive, #abtSix{
  transform-origin: 0 0;
  transform: scaleY(0);
}
.abtContainer{
  display:grid;
  place-items: center;
  grid-template-rows: 1fr .75fr .5fr;
.aboutUsSection {
  display:grid;
  margin-top: 5%;
  place-items: center;
  h1 {
    @include pageTitle;
 font-size: 30px;
    letter-spacing: 6px;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    @include pageContent;
    width: 90%;
    font-style: italic;
  }
}
.f2TSection{
  display:grid;
grid-auto-flow: row;
  margin-top: 30px;
  place-items: center;
  h1 {
    letter-spacing: 5px;
    @include pageTitle;
    margin-bottom: 20px;
    font-size: 30px;
   }
  p {
    text-align: center;
    @include pageContent;
    width: 90%;
    font-style: italic;
  }
}
.introVideo {
  width: 95vw;
  height: 250px;
  max-width: 1000px;
  margin-top: 8%;
  margin-bottom: 8px;
  border-radius: 10px;
}}

@media only screen and (min-width: 600px) {
  #inactiveDsktp {
    pointer-events: none;
  }
  .caroAbtPg {
    .imgSpace {
      height:350px;
    }
    .labelsContainer {
      width: 30vw;
      .radioLbl {
        font-size: 1.5em;
      }
    }
    .caroImg {
      height: 350px;
    img {
      height: 350px;
    }}
  }
  .abtContainer{
    display:grid;
    grid-template-rows: 0.75fr 5fr .5fr;
  .aboutUsSection {
    h1 {
   font-size: 50px;
    }
    p {
      font-size: 20px;
    }
  }
  .f2TSection{
    h1 {
      font-size: 50px;
     }
    p {
font-size:20px;    }
  }
  .introVideo {
    height: 400px;
    width: 600px;
    margin-bottom:10px;
  }}}
  @media only screen and (min-width: 1000px) {
    .caroAbtPg {
      .imgSpace {
        height:400px;
      }
      .labelsContainer {
        width: 20vw;
        margin-top: 25px;
        .radioLbl {
          font-size: 1.25em;
        }
      }
      .caroImg {
        height: 400px;
      img {
        height: 400px;
      }}
    }
    .abtContainer{
    .aboutUsSection {
      margin-top: 55px;
      width:70%;  
      h1 {
     font-size: 50px;
      }
      p {
        font-size: 20px;
      }
    }
    .f2TSection{
      width:70%;  
      margin-top: 25px;
      h1 {
        font-size: 50px;
       }
      p {
  font-size:20px;    }
    }
    .introVideo {
      height: 400px;
      width:600px;
      margin-top: 20px;
      margin-bottom: 2%;
    }}}
  