@import "_footer.scss";
@import "_header.scss";
@import "_global.scss";
.caroAbtPg {
  position: relative;
  .imgSpace {
    height: 210px;
    width: 100%;
  }
  .radio {
    display: none;
  }
  .labelsContainer {
    display: grid;
    grid-auto-flow: column;
    width: 40vw;
    margin: auto;
    place-items: center;
    .radioLbl {
      @include pageContent;
      font-size: 1em;
    }
  }
  .caroImg {
    @include heroImgMbl;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: scale(0.8);
    height: 200px;
    img {
      @include heroImgMbl;
      margin-top: 0;
    }
  }
  #carOne:checked ~ .labelsContainer #radioLbl1,
  #carTwo:checked ~ .labelsContainer #radioLbl2,
  #carThree:checked ~ .labelsContainer #radioLbl3,
  #carFour:checked ~ .labelsContainer #radioLbl4,
  #carFive:checked ~ .labelsContainer #radioLbl5,
  #carSix:checked ~ .labelsContainer #radioLbl6 {
    color: $featureColor;
  }
  #carOne:checked ~ #abtOne,
  #carTwo:checked ~ #abtTwo,
  #carThree:checked ~ #abtThree,
  #carFour:checked ~ #abtFour,
  #carFive:checked ~ #abtFive,
  #carSix:checked ~ #abtSix {
    opacity: 1;
    transform: scale(1);
  }
}
#abtOne,
#abtTwo,
#abtThree,
#abtFour,
#abtFive,
#abtSix {
  transform-origin: 0 0;
  transform: scaleY(0);
}
.abtContainer {
  display: grid;
  place-items: center;
  // grid-template-rows: 1fr .75fr .5fr;
  .aboutUsSection,
  .f2TSection {
    width: 90%;
    display: grid;
    place-items: center;
    h1 {
      @include pageTitle;
      letter-spacing: 5px;
      margin-bottom: 10px;
    }
    p {
      letter-spacing: 2px;
      @include pageContent;
      font-size: 0.8rem;
      width: 100%;
      text-align: center;
    }
  }
  .f2TSection {
    h1 {
      font-size: 28px;
      letter-spacing: 3.5px;
      margin-top: 15px;
    }
  }
  .introVideo {
    width: 90%;
    height: 250px;
    max-width: 1000px;
    margin-top: 6%;
    margin-bottom: 15px;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 600px) {
  #inactiveDsktp {
    pointer-events: none;
  }
  .caroAbtPg {
    height: 400px;
    .imgSpace {
      height: 410px;
    }
    .labelsContainer {
      width: 30%;
      .radioLbl {
        font-size: 1.5em;
      }
    }
    .caroImg {
      img {
        @include heroImgTblt;
        margin-top: 0%;
      }
    }
  }
  .abtContainer {
    display: grid;
    margin-top: 50px;
    .aboutUsSection,
    .f2TSection {
      width: 90%;
      h1 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 50px;
      }
      p {
        letter-spacing: 4px;
        font-size: 18px;
      }
    }
    .introVideo {
      height: 400px;
      width: 600px;
      margin-top: 4%;
      margin-bottom: 20px;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .caroAbtPg {
    height: 360px;
    .imgSpace {
      height: 375px;
    }
  .caroImg {
    img {
      @include heroImgDsktp;
      margin-top: 0;
    }
  }
  .labelsContainer {
    width: 15%;
    .radioLbl {
      font-size: 1.25em;
    }
  }}
  .abtContainer {
    .aboutUsSection, .f2TSection {
      margin-top: 55px;
      width: 70%;
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 17px;
      }
    }
    .f2TSection {
      margin-top: 25px;
    }}
    .introVideo {
      height: 500px;
      width: 800px;
      margin-top: 1%;
      margin-bottom: 20px;
    }
  }
