@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

footer {
  min-height: 10vh;
}

hr {
  border: 1px solid #403637;
  opacity: 0.6;
  width: 90%;
  margin: auto;
}

.footerGrid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  text-align: center;
  width: 70%;
  margin: auto;
}

.footerGrid .textFooter {
  color: #403637;
  font-family: "Libre Baskerville", serif;
  font-size: 55%;
  letter-spacing: 3px;
}

.footerGrid :first-child {
  padding-top: 3%;
}

.footerGrid #inactiveDsktp {
  pointer-events: none;
}

.footerGrid .socialMediaLogos {
  -webkit-column-gap: 5px;
          column-gap: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 40%;
  margin-right: 40px;
}

.footerGrid .socialMediaLogos .smLogo {
  width: 42px;
  opacity: 0.7;
}

.footerGrid .copyrightInfo {
  font-size: 100%;
  letter-spacing: normal;
  padding-top: 5%;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  max-height: 20vh;
  width: 100%;
  place-items: center;
}

.phoneIcon {
  height: 35px;
  margin-left: 5px;
  opacity: 0.8;
  padding-top: 15px;
}

.logoAndTitle {
  padding-left: 20px;
  width: 80%;
  margin-top: 10px;
}

.hamburgerMenu .mobileMenuCheckbox {
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 40px;
  z-index: 1005;
}

.hamburgerMenu .mobileMenuCheckbox:checked ~ .mobileHeaderDropdown {
  opacity: 0.89;
  top: 0vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburgerMenu #homepageDropdown {
  opacity: 1;
}

.hamburgerMenu .mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  height: 30px;
  padding-top: 5px;
  place-items: center;
  position: relative;
  width: 30px;
  z-index: 1004;
}

.hamburgerMenu .hamburgerMenuLine {
  background-color: #d3b468;
  border-radius: 10px;
  height: 4px;
  margin: 3px 0;
  padding: 0.5px;
  width: 30px;
  opacity: 0.8;
}

.hamburgerMenu .mobileHeaderDropdown {
  background-color: #010a0a;
  display: -ms-grid;
  display: grid;
  height: 100%;
  left: 0;
  opacity: 0;
  place-items: center;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -200vh;
  width: 100%;
  z-index: 1003;
}

.hamburgerMenu .mobileHeaderDropdown .dropdownLinksContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hamburgerMenu .mobileHeaderDropdown .linkHeaderDropdown {
  color: #d3b468;
  font-family: "Shippori Mincho", serif;
  font-size: 13vw;
  font-weight: bold;
}

.hamburgerMenu .mobileHeaderDropdown #active {
  color: #ededed;
}

@media only screen and (min-width: 600px) {
  .phoneIcon {
    height: 50px;
  }
  .logoAndTitle {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 30vw;
    margin-top: 20px;
  }
  .hamburgerMenu .mobileHamburgerContainer {
    height: 50px;
    width: 40px;
  }
  .hamburgerMenu .hamburgerMenuLine {
    height: 5px;
    padding: 1px;
    width: 40px;
  }
  .hamburgerMenu .mobileHeaderDropdown .linkHeaderDropdown {
    font-size: 10vw;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

.caroAbtPg {
  position: relative;
}

.caroAbtPg .imgSpace {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
}

.caroAbtPg .radio {
  display: none;
}

.caroAbtPg .caroImg {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.caroAbtPg img {
  padding-top: 2%;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.caroAbtPg .radioLbl {
  color: #403637;
  font-size: 1em;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 6px;
}

.caroAbtPg #carOne:checked ~ #radioLbl1, .caroAbtPg #carTwo:checked ~ #radioLbl2, .caroAbtPg #carThree:checked ~ #radioLbl3, .caroAbtPg #carFour:checked ~ #radioLbl4, .caroAbtPg #carFive:checked ~ #radioLbl5, .caroAbtPg #carSix:checked ~ #radioLbl6 {
  color: #d3b468;
}

.caroAbtPg #carOne:checked ~ #abtOne,
.caroAbtPg #carTwo:checked ~ #abtTwo,
.caroAbtPg #carThree:checked ~ #abtThree,
.caroAbtPg #carFour:checked ~ #abtFour,
.caroAbtPg #carFive:checked ~ #abtFive,
.caroAbtPg #carSix:checked ~ #abtSix {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.aboutUsSection {
  color: #403637;
  display: -ms-grid;
  display: grid;
  font-size: 1.5em;
  font-weight: bold;
  place-items: center;
  text-align: center;
  -ms-grid-rows: 0.75fr 4fr 1fr 3fr;
      grid-template-rows: 0.75fr 4fr 1fr 3fr;
  margin-top: 5%;
}

.aboutUsSection p {
  color: #403637;
  font-size: 1em;
  font-weight: bold;
  width: 90%;
  font-style: italic;
}

.aboutUsSection h1 {
  letter-spacing: 6px;
}

.aboutUsSection .f2TContent {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.introVideo {
  width: 90%;
  height: 250px;
  max-width: 550px;
  margin: 2% 5% 2% 5%;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  #inactiveDsktp {
    pointer-events: none;
  }
}
/*# sourceMappingURL=aboutPage.css.map */