@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

.dsktpHeaderHmpg {
  display: none;
}

.dsktpHeader {
  display: none;
}

.mblHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  height: 15vh;
  width: 100vw;
  place-items: center;
}

.mblHeader #tbltPhIcon {
  display: none;
}

.phoneIcon {
  height: 32px;
  margin-left: 5px;
  opacity: 0.8;
  margin-top: 15px;
}

.logoAndTitle {
  margin-left: 20px;
  width: 80%;
  margin-top: 2vh;
}

.hamburgerMenu .mobileMenuCheckbox {
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 40px;
  z-index: 1005;
}

.hamburgerMenu .mobileMenuCheckbox:checked ~ .mobileHeaderDropdown {
  opacity: 1;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburgerMenu .mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  height: 30px;
  margin-top: 15px;
  place-items: center;
  position: relative;
  width: 30px;
  z-index: 1004;
}

.hamburgerMenu .hamburgerMenuLine {
  background-color: #d3b468;
  border-radius: 10px;
  height: 4px;
  margin: 3px 0;
  padding: 0.5px;
  width: 30px;
  opacity: 0.8;
}

.mobileHeaderDropdown {
  background-color: #010a0a;
  display: -ms-grid;
  display: grid;
  height: 100%;
  left: 0;
  opacity: 0;
  place-items: center;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -200vh;
  width: 100%;
  z-index: 1003;
}

.mobileHeaderDropdown .dropdownLinksContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.mobileHeaderDropdown .linkHeaderDropdown {
  color: #d3b468;
  font-family: "Shippori Mincho", serif;
  font-size: 3.25rem;
  font-weight: bold;
}

.mobileHeaderDropdown #active {
  color: #ededed;
}

@media only screen and (min-width: 600px) {
  .mblHeader #mblPhIcon {
    display: none;
  }
  .mblHeader #tbltPhIcon {
    display: -ms-grid;
    display: grid;
  }
  .phoneIcon {
    height: 45px;
  }
  .logoAndTitle {
    width: 90%;
    margin-top: 2vh;
  }
  .hamburgerMenu .mobileHamburgerContainer {
    height: 45px;
    width: 40px;
  }
  .hamburgerMenu .hamburgerMenuLine {
    height: 5px;
    padding: 1px;
    width: 40px;
  }
  .hamburgerMenu .linkHeaderDropdown {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .mblHeader {
    display: none;
  }
  .dsktpHeader,
  .dsktpHeaderHmpg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
  }
  .dsktpHeader .logoAndTitleDsktp,
  .dsktpHeaderHmpg .logoAndTitleDsktp {
    width: 300px;
    margin-left: 25px;
    margin-top: 15px;
  }
  .dsktpHeader .dsktpLinks,
  .dsktpHeaderHmpg .dsktpLinks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr;
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr;
    place-items: center;
    width: 70%;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: 2vh;
    margin-left: 8%;
  }
  .dsktpHeader a,
  .dsktpHeader p, .dsktpHeaderHmpg a,
  .dsktpHeaderHmpg p {
    font-size: 20px;
    font-weight: bold;
    color: #403637;
  }
  .dsktpHeader a:hover,
  .dsktpHeader p:hover, .dsktpHeaderHmpg a:hover,
  .dsktpHeaderHmpg p:hover {
    color: #d3b468;
  }
  .dsktpHeader p, .dsktpHeaderHmpg p {
    color: #d3b468;
    font-size: 20px;
    padding-top: 2px;
  }
  .dsktpHeaderHmpg a,
  .dsktpHeaderHmpg p {
    color: #ededed;
  }
  .dsktpHeaderHmpg p {
    color: #d3b468;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

.ftrDsktp {
  display: none;
}

.ftrMbl {
  min-height: 10vh;
}

hr {
  border: 1px solid #403637;
  opacity: 0.6;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.footerGrid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.footerGrid .textFooter, .footerGrid a {
  color: #403637;
  font-family: "Libre Baskerville", serif;
  font-size: 8px;
  letter-spacing: 3px;
}

.footerGrid .textFooter:nth-child(4), .footerGrid a:nth-child(4) {
  margin-bottom: 1%;
}

.footerGrid #inactiveDsktp {
  pointer-events: none;
}

.footerGrid .socialMediaLogos {
  -webkit-column-gap: 5px;
          column-gap: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 50vw;
}

.footerGrid .socialMediaLogos .smLogo {
  width: 42px;
  opacity: 0.7;
}

.footerGrid .copyrightInfo {
  font-size: 100%;
  letter-spacing: normal;
  padding-top: 4%;
  padding-bottom: 2%;
}

@media only screen and (min-width: 600px) {
  .textFooter {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .footerGrid .socialMediaLogos {
    width: 20vw;
    margin-bottom: 5px;
  }
  .footerGrid .socialMediaLogos .smLogo {
    width: 50px;
  }
  .copyrightInfo {
    padding-top: 5%;
    padding-bottom: 2%;
  }
}

@media only screen and (min-width: 1000px) {
  .ftrMbl {
    display: none;
  }
  .ftrDsktp {
    display: -ms-grid;
    display: grid;
  }
  .ftrDsktp .ftrDsktpContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .ftrDsktp .ftrDsktpContainer a,
  .ftrDsktp .ftrDsktpContainer p {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 10px;
    color: #403637;
    letter-spacing: 6px;
  }
  .ftrDsktp .ftrDsktpContainer a {
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
  }
  .ftrDsktp .ftrDsktpContainer a:hover {
    color: #d3b468;
  }
  .ftrDsktp .ftrDsktpContainer .centerSocialMedia {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .ftrDsktp .ftrDsktpContainer .centerSocialMedia .ftrLogoAndName {
    width: 180px;
    margin-bottom: 10px;
  }
  .ftrDsktp .ftrDsktpContainer .centerSocialMedia .socialMediaLogos {
    -webkit-column-gap: 5px;
            column-gap: 5px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 10vw;
    margin-bottom: 10px;
  }
  .ftrDsktp .ftrDsktpContainer .centerSocialMedia .socialMediaLogos .smLogo {
    width: 42px;
    opacity: 0.7;
  }
  .copyrightInfo {
    font-size: 12px;
    letter-spacing: normal;
    text-align: center;
    padding-top: 0;
    padding-bottom: 1%;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

.dsktpMain {
  display: none;
}

.heroImg {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 2%;
  width: 100%;
}

.contactUsContainer {
  color: #403637;
  display: -ms-grid;
  display: grid;
  font-size: 1.5rem;
  font-weight: bold;
  place-items: center;
  text-align: center;
  margin-top: 2%;
  -ms-grid-rows: 0.5fr 1.5fr;
      grid-template-rows: 0.5fr 1.5fr;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

.contactUsContainer h1 {
  margin-top: 20px;
  font-size: 30px;
}

.contactUsContainer p,
.contactUsContainer a {
  font-size: 15px;
  letter-spacing: 4px;
}

.contactUsContainer .phoneLink {
  color: #d3b468;
}

.contactForm {
  margin: auto;
  width: 90%;
}

.contactForm .pageTitle {
  letter-spacing: 4px;
  margin-top: 3%;
  color: #403637;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.contactForm .contactFormItem {
  margin-top: 8px;
}

.contactForm .formSectionTitle {
  color: #403637;
  font-size: 1em;
  font-weight: bold;
}

.contactForm .formBox {
  background: #ededed;
  border: #403637 solid 0.5px;
  max-width: 95%;
  min-width: 95%;
  padding: 5px;
}

.contactForm .submitButtonContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: end;
}

.contactForm .submitButtonContainer .submitButton {
  background: #ddc589;
  border-radius: 10px;
  -webkit-box-shadow: 1.5px 1.5px 5px;
          box-shadow: 1.5px 1.5px 5px;
  color: #403637;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  height: 20px;
  padding-top: 2px;
  margin-top: 10px;
  margin-right: 1%;
  width: 30%;
}

.contactForm .submitButtonContainer .submitButton:active {
  height: 25px;
  background: #d3b468;
  font-size: 20px;
  -webkit-transition: font 0.2s ease-in-out;
  transition: font 0.2s ease-in-out;
}

.googleMap {
  height: 40vh;
  max-width: 2000px;
  padding: 10% 5% 2% 5%;
  width: 90%;
}

@media only screen and (min-width: 600px) {
  .heroImg {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    padding-top: 2%;
    width: 100%;
  }
  .contactUsContainer {
    margin-top: 2%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    letter-spacing: 6px;
  }
  .contactUsContainer h1 {
    font-size: 50px;
  }
  .contactUsContainer a, .contactUsContainer p {
    font-size: 25px;
  }
  .contactUsContainer .phoneLink {
    color: #d3b468;
  }
  .contactUsContainer #inactiveDsktp {
    pointer-events: none;
  }
  .contactForm .formSectionTitle {
    font-size: 32px;
  }
  .contactForm .formBox {
    padding: 10px;
  }
  .contactForm .submitButtonContainer .submitButton {
    font-size: 20px;
    height: 25px;
    width: 20%;
  }
}

@media only screen and (min-width: 1000px) {
  .mblMain {
    display: none;
  }
  .dsktpMain {
    display: -ms-grid;
    display: grid;
  }
  .contactInfoContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contactInfoContainer h2 {
    color: #403637;
    font-size: 35px;
  }
  .contactInfoContainer .contactInfoDsktp {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-right: 1px solid #403637;
  }
  .contactInfoContainer h2 {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .contactInfoContainer p {
    color: #403637;
    font-size: 20px;
    font-family: "Libre Baskerville", serif;
  }
  .dsktpContactItem {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 2fr;
        grid-template-columns: 0.5fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  .dsktpContactItem .contactIcon {
    opacity: 0.7;
    width: 60px;
    height: 62px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .contactFormDsktp {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr fr;
        grid-template-rows: 1fr fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: start;
    max-width: 100%;
    margin-left: 30px;
  }
  .contactFormDsktp .contactForm {
    margin: 0;
    margin-top: 20px;
    width: 90%;
  }
  .contactFormDsktp h2 {
    margin-left: 10px;
  }
  .contactFormDsktp .formSectionTitle {
    font-size: 20px;
    font-weight: bold;
  }
  .contactFormDsktp .formBox {
    max-width: 95%;
    min-width: 95%;
    padding: 8px;
  }
  .contactFormDsktp .messageBox {
    resize: none;
    max-width: 99%;
    min-width: 99%;
    padding-bottom: 60px;
    background: #ededed;
    border: #403637 solid 0.5px;
  }
  .contactFormDsktp .submitButtonContainer .submitButton:active {
    color: #d3b468;
  }
  .contactFormDsktp .submitButtonContainer .submitButton p {
    font-size: 15px;
    padding-top: 2px;
  }
  .contactFormDsktp .submitButtonContainer .submitButton p:hover {
    font-size: 17px;
  }
  .googleMap {
    display: block;
    margin: 30px auto 10px auto;
    padding: 0;
    width: 90%;
  }
}
/*# sourceMappingURL=contactPage.css.map */