@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  max-height: 20vh;
  width: 100%;
  place-items: center;
}

.phoneIcon {
  height: 30px;
  margin-left: 5px;
  opacity: 0.8;
  padding-top: 10px;
}

.logoAndTitle {
  padding-left: 20px;
  width: 80%;
  margin-top: 10px;
}

.hamburgerMenu .mobileMenuCheckbox {
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 40px;
  z-index: 1001;
}

.hamburgerMenu .mobileMenuCheckbox:checked ~ .mobileHeaderDropdown {
  opacity: 0.89;
  top: 0vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburgerMenu #homepageDropdown {
  opacity: 1;
}

.hamburgerMenu .mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  height: 30px;
  padding-top: 5px;
  place-items: center;
  position: relative;
  width: 30px;
  z-index: 1000;
}

.hamburgerMenu .hamburgerMenuLine {
  background-color: #d3b468;
  border-radius: 10px;
  height: 4px;
  margin: 3px 0;
  padding: 0.5px;
  width: 30px;
  opacity: 0.8;
}

.hamburgerMenu .mobileHeaderDropdown {
  background-color: #010a0a;
  display: -ms-grid;
  display: grid;
  height: 100%;
  left: 0;
  opacity: 0;
  place-items: center;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -200vh;
  width: 100%;
  z-index: 999;
}

.hamburgerMenu .mobileHeaderDropdown .dropdownLinksContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hamburgerMenu .mobileHeaderDropdown .linkHeaderDropdown {
  color: #d3b468;
  font-family: "Shippori Mincho", serif;
  font-size: 13vw;
  font-weight: bold;
}

.hamburgerMenu .mobileHeaderDropdown #active {
  color: #ededed;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

footer {
  min-height: 10vh;
}

hr {
  border: 1px solid #403637;
  opacity: 0.6;
  width: 90%;
  margin: auto;
}

.footerGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
}

.footerGrid .textFooter {
  color: #403637;
  font-family: "Libre Baskerville", serif;
  font-size: 55%;
  letter-spacing: 3px;
}

.footerGrid .addressInfo {
  padding-top: 3%;
}

.footerGrid .socialMediaLogos {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: auto;
  width: 40%;
}

.footerGrid .socialMediaLogos .smLogo {
  width: 42px;
  opacity: 0.7;
}

.footerGrid .copyrightInfo {
  font-size: 100%;
  letter-spacing: normal;
  padding-top: 5%;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

.heroImg {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 2%;
  width: 100%;
}

.contactUsContainer {
  color: #403637;
  display: -ms-grid;
  display: grid;
  font-size: 5vw;
  font-weight: bold;
  place-items: center;
  text-align: center;
  margin-top: 8%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  letter-spacing: 6px;
}

.contactUsContainer .phoneLink {
  color: #d3b468;
}

.contactForm {
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
}

.contactForm .contactFormItem {
  padding-top: 8px;
}

.contactForm .formSectionTitle {
  color: #403637;
  font-size: 16px;
  font-weight: bold;
}

.contactForm .formBox {
  background: #ededed;
  border: #403637 solid 0.5px;
  max-width: 95%;
  min-width: 95%;
  padding: 5px;
}

.contactForm .submitButtonContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: end;
}

.contactForm .submitButtonContainer .submitButton {
  background: #ddc589;
  border-radius: 8px;
  -webkit-box-shadow: 1.5px 1.5px 5px;
          box-shadow: 1.5px 1.5px 5px;
  color: #403637;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  height: 20px;
  padding-top: 2px;
  margin-top: 10px;
  margin-right: 1%;
  width: 30%;
}

.googleMap {
  height: 40vh;
  max-width: 2000px;
  padding: 10% 5% 2% 5%;
  width: 90%;
}
/*# sourceMappingURL=contactPage.css.map */