@import "_header.scss";
@import "_footer.scss";
@import "_global.scss";

.heroImg {
  height: 250px;
  object-fit: cover;
  padding-top: 2%;
  width: 100%;
}
.contactUsContainer {
  @include pageTitle;
  margin-top: 8%;
  grid-template-rows: 1fr 1fr;
  letter-spacing: 6px;
  .phoneLink {
    color: $featureColor;
  }
}
.contactForm {
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  .contactFormItem {
    padding-top: 8px;
  }
  .formSectionTitle {
    @include pageContent;
  }
  .formBox {
    background: $homepageFontColor;
    border: $contentColor solid 0.5px;
    max-width: 95%;
    min-width: 95%;
    padding: 5px;
  }
  .submitButtonContainer {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    .submitButton {
      @include button();
      font-size: 16px;
      height: 20px;
      padding-top: 2px;
      margin-top: 10px;
      margin-right: 1%;
      width: 30%;
    }
  }
}
.googleMap {
  height: 40vh;
  max-width: 2000px;
  padding: 10% 5% 2% 5%;
  width: 90%;
}
