@import "_header.scss";
@import "_footer.scss";
.barFrontImg {
  width: 100%;
  object-fit: cover;
  padding-top: 2%;
}
a {
  color: #403637;
}
.contactUsContainer {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  font-size: 5vw;
  letter-spacing: 6px;
  font-weight: bold;
  color: #403637;
  padding-top: 10%;
  .pageTitle {
    color: #403637;
  }
  .contactInfo {
    text-align: center;
  }
}
.contactForm {
  width: 100%;
  margin-left: 3%;
  margin-top: 5%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  .contactFormItem {
    padding-top: 8px;
  }
  input {
    width: 90%;
    background: #f1f1f1;
    border: #403637 solid 1px;
    display: inline-block;
    padding: 5px;
  }
  .formSectionTitle {
    color: #403637;
    font-weight: bold;
    font-size: 16px;
  }
}
.contactFormItem {
  padding-top: 8px;
}

.submitButton {
  background: #d3b468;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  height: 30px;
  font-weight: bold;
  color: #403637;
  font-size: 20px;
  align-self: center;
  padding-top: 5px;
  justify-self: end;
  margin-right: 6%;
}
.googleMap {
  width: 100%;
  max-width: 500px;
  height: 200px;
  padding-bottom: 2%;
}
