@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

.dsktpHeaderHmpg {
  display: none;
}

.dsktpHeader {
  display: none;
}

.mblHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  height: 15vh;
  width: 100vw;
  place-items: center;
}

.mblHeader #tbltPhIcon {
  display: none;
}

.phoneIcon {
  height: 32px;
  margin-left: 5px;
  opacity: 0.8;
  margin-top: 15px;
}

.logoAndTitle {
  margin-left: 20px;
  width: 80%;
  margin-top: 2vh;
}

.hamburgerMenu .mobileMenuCheckbox {
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 40px;
  z-index: 1005;
}

.hamburgerMenu .mobileMenuCheckbox:checked ~ .mobileHeaderDropdown {
  opacity: 1;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburgerMenu .mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  height: 30px;
  margin-top: 15px;
  place-items: center;
  position: relative;
  width: 30px;
  z-index: 1004;
}

.hamburgerMenu .hamburgerMenuLine {
  background-color: #d3b468;
  border-radius: 10px;
  height: 4px;
  margin: 3px 0;
  padding: 0.5px;
  width: 30px;
  opacity: 0.8;
}

.mobileHeaderDropdown {
  background-color: #010a0a;
  display: -ms-grid;
  display: grid;
  height: 100%;
  left: 0;
  opacity: 0;
  place-items: center;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -200vh;
  width: 100%;
  z-index: 1003;
}

.mobileHeaderDropdown .dropdownLinksContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.mobileHeaderDropdown .linkHeaderDropdown {
  color: #d3b468;
  font-family: "Shippori Mincho", serif;
  font-size: 3.25rem;
  font-weight: bold;
}

.mobileHeaderDropdown #active {
  color: #ededed;
}

@media only screen and (min-width: 600px) {
  .mblHeader #mblPhIcon {
    display: none;
  }
  .mblHeader #tbltPhIcon {
    display: -ms-grid;
    display: grid;
  }
  .phoneIcon {
    height: 45px;
  }
  .logoAndTitle {
    width: 90%;
    margin-top: 2vh;
  }
  .hamburgerMenu .mobileHamburgerContainer {
    height: 45px;
    width: 40px;
  }
  .hamburgerMenu .hamburgerMenuLine {
    height: 5px;
    padding: 1px;
    width: 40px;
  }
  .hamburgerMenu .linkHeaderDropdown {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .mblHeader {
    display: none;
  }
  .dsktpHeader,
  .dsktpHeaderHmpg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
  }
  .dsktpHeader .logoAndTitleDsktp,
  .dsktpHeaderHmpg .logoAndTitleDsktp {
    width: 300px;
    margin-left: 25px;
    margin-top: 15px;
  }
  .dsktpHeader .dsktpLinks,
  .dsktpHeaderHmpg .dsktpLinks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr;
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr;
    place-items: center;
    width: 70%;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: 2vh;
    margin-left: 8%;
  }
  .dsktpHeader a,
  .dsktpHeader p, .dsktpHeaderHmpg a,
  .dsktpHeaderHmpg p {
    font-size: 20px;
    font-weight: bold;
    color: #403637;
  }
  .dsktpHeader a:hover,
  .dsktpHeader p:hover, .dsktpHeaderHmpg a:hover,
  .dsktpHeaderHmpg p:hover {
    color: #d3b468;
  }
  .dsktpHeader p, .dsktpHeaderHmpg p {
    color: #d3b468;
    font-size: 20px;
    padding-top: 2px;
  }
  .dsktpHeaderHmpg a,
  .dsktpHeaderHmpg p {
    color: #ededed;
  }
  .dsktpHeaderHmpg p {
    color: #d3b468;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

body {
  background-image: url(/images/darkWoodenBackgroundMobile2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #ededed;
}

.containerHmpg {
  display: -ms-grid;
  display: grid;
  height: 85vh;
  margin-top: 10vh;
  -ms-grid-rows: 25% 25% 15% 15% 20%;
      grid-template-rows: 25% 25% 15% 15% 20%;
  place-items: center;
  width: 100vw;
}

.linksHomepage {
  color: #ededed;
  font-size: 3.5rem;
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
}

.addressPhoneNumber,
.hrsHomepg {
  color: #ededed;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  letter-spacing: 6px;
}

.addressPhoneNumber a,
.hrsHomepg a {
  color: #d3b468;
}

.hrsHomepg {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.hmpgFtrContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-row-align: end;
      align-self: end;
}

.socialMediaLogos {
  display: -ms-grid;
  display: grid;
  width: 40vw;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  place-items: center;
}

.socialMediaLogos .smLogo {
  width: 42px;
  opacity: 0.7;
}
/*# sourceMappingURL=homepage.css.map */