@import "_header.scss";
@import "_global.scss";
body {
  background-image: url(/images/darkWoodenBackgroundMobile2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.containerHmpg {
  display: grid;
  height: 80vh;
  margin-top: 5vh;
  grid-template-rows: 25% 25% 15% 15% 20%;
  place-items: center;
  width: 100%;
}
.linksHomepage {
  color: $homepageFontColor;
  font-size: 4.25rem;
  font-family: $homepageFont;
  font-weight: 500;
  align-self: end;
}
.addressPhoneNumber,
.hrsHomepg {
  @include pageContent;
  color: $homepageFontColor;
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
  letter-spacing: 3px;
  a {
    color: $featureColor;
  }
}
.hrsHomepg {
  align-self: end;
}
.hmpgFtrContainer {
  display: grid;
  place-items: center;
  align-self: end;
  width: 100%;
  p{
    font-size:10px;
    color: $homepageFontColor;
    margin-bottom: 2px;
  }
}
.socialMediaLogos {
  display: grid;
  width: 40%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  place-items: center;
  margin-bottom: 5px;
  .smLogo {
    width: 40px;
    opacity: 0.7;
  }
}

@media only screen and (min-width: 600px) {
  .addressPhoneNumber,
  .hrsHomepg {
    font-size: 1.25rem;
  }
  .linksHomepage {
    font-size: 7.25rem;
  }
  .inactiveDsktp {
    pointer-events: none;
  }
  .socialMediaLogos {
    width: 25%;
    margin-bottom: 8px;
    .smLogo {
      width: 50px;
    }
  }
  .hmpgFtrContainer{
    p{
      font-size:14px;
      color: $homepageFontColor;
      margin-bottom: 10px;
    }}
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url(../images/pizzaDarkWoodenBackgroundSide.jpg);
  }
  .containerHmpg {
    height: 80vh;
    margin-top: 5vh;
    width: 40%;
    margin-left: 50%;
  }
  .linksHomepage {
    margin-top: 1rem;
    font-size: 6.25rem;
    font-weight: 450;
  }
  .hrsHomepg {
    align-self: end;
    margin-bottom: 15px;
  }
  .addressPhoneNumber,
  .hrsHomepg {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  .socialMediaLogos {
    width: 40%;

}}
