@import "_header.scss";
body {
  background-image: url(/images/darkWoodenBackgroundMobile2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: $homepageFontColor;
}

article {
  display: grid;
  align-items: center;
  min-height: 80vh;
  .infoHomePage {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    width: 100%;
    .addressPhoneNumber {
      color: $homepageFontColor;
      font-size: 4vw;
      font-family: $homepageFont;
      font-style: italic;
      font-weight: bold;
      text-align: center;
      letter-spacing: 8px;
    }
    .linksHomepage {
      color: $homepageFontColor;
      font-size: 18vw;
      padding: 2%;
      font-family: $homepageFont;
      font-weight: 500;
    }
  }
}
.socialMediaLogos {
  display: grid;
  width: 40%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  min-height: 10vh;
  margin: auto;
  align-items: end;
  justify-items: center;
  .smLogo {
    padding-bottom: 10px;
    width: 42px;
    opacity: 0.7;
  }
}
