@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 80vh;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.5fr;
      grid-template-columns: 2fr 0.5fr;
  max-height: 10vh;
  width: 100%;
}

.logoAndTitle {
  padding-left: 15px;
  padding-top: 5%;
  width: 80%;
}

.hamburgerMenu {
  padding-right: 15%;
  place-self: center;
}

.hamburgerMenu .mobileMenuCheckbox {
  height: 50px;
  opacity: 0;
  position: absolute;
  width: 40px;
  z-index: 11;
}

.hamburgerMenu .mobileMenuCheckbox:checked ~ .mobileHeaderDropdown {
  opacity: 0.95;
  top: 0vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburgerMenu .mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  height: 30px;
  margin-top: 8px;
  place-items: center;
  position: relative;
  width: 30px;
  z-index: 10;
}

.hamburgerMenu .hamburgerMenuLine {
  background-color: #d3b468;
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
  padding: 0.5px;
  width: 35px;
}

.hamburgerMenu .mobileHeaderDropdown {
  background-color: #010a0a;
  display: -ms-grid;
  display: grid;
  height: 100%;
  left: 0;
  opacity: 0;
  place-items: center;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -200vh;
  width: 100%;
}

.hamburgerMenu .mobileHeaderDropdown .dropdownLinksContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hamburgerMenu .mobileHeaderDropdown .linkHeaderDropdown {
  color: #d3b468;
  font-family: "Shippori Mincho", serif;
  font-size: 13vw;
  font-weight: bold;
}

body {
  background-image: url(/images/darkWoodenBackgroundMobile2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #ededed;
}

article {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

article .infoHomePage {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  width: 100%;
}

article .infoHomePage .addressPhoneNumber {
  color: #ededed;
  font-size: 4vw;
  font-family: "Shippori Mincho", serif;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  letter-spacing: 8px;
}

article .infoHomePage .linksHomepage {
  color: #ededed;
  font-size: 18vw;
  padding: 2%;
  font-family: "Shippori Mincho", serif;
  font-weight: 500;
}

.socialMediaLogos {
  display: -ms-grid;
  display: grid;
  width: 40%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  min-height: 10vh;
  margin: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
}

.socialMediaLogos .smLogo {
  padding-bottom: 10px;
  width: 42px;
  opacity: 0.7;
}
/*# sourceMappingURL=homepage.css.map */