@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

main {
  min-height: 70vh;
}

.ftrDsktp {
  display: none;
}

.ftrMbl {
  min-height: 10vh;
}

hr {
  border: 1px solid #403637;
  opacity: 0.6;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.footerGrid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.footerGrid .textFooter, .footerGrid a {
  color: #403637;
  font-family: "Libre Baskerville", serif;
  font-size: 8px;
  letter-spacing: 3px;
}

.footerGrid .textFooter:nth-child(4), .footerGrid a:nth-child(4) {
  margin-bottom: 1%;
}

.footerGrid #inactiveDsktp {
  pointer-events: none;
}

.footerGrid .socialMediaLogos {
  -webkit-column-gap: 5px;
          column-gap: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 50vw;
}

.footerGrid .socialMediaLogos .smLogo {
  width: 42px;
  opacity: 0.7;
}

.footerGrid .copyrightInfo {
  font-size: 100%;
  letter-spacing: normal;
  padding-top: 4%;
  padding-bottom: 2%;
}

@media only screen and (min-width: 600px) {
  .textFooter {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .footerGrid .socialMediaLogos {
    width: 20vw;
    margin-bottom: 5px;
  }
  .footerGrid .socialMediaLogos .smLogo {
    width: 50px;
  }
  .copyrightInfo {
    padding-top: 5%;
    padding-bottom: 2%;
  }
}

@media only screen and (min-width: 1000px) {
  .ftrMbl {
    display: none;
  }
  .ftrDsktp {
    display: -ms-grid;
    display: grid;
  }
  .ftrDsktp .ftrDsktpContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .ftrDsktp .ftrDsktpContainer a,
  .ftrDsktp .ftrDsktpContainer p {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 10px;
    color: #403637;
    letter-spacing: 6px;
  }
  .ftrDsktp .ftrDsktpContainer a {
    display: block;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
  }
  .ftrDsktp .ftrDsktpContainer a:hover {
    color: #d3b468;
  }
  .ftrDsktp .ftrDsktpContainer .centerSocialMedia {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .ftrDsktp .ftrDsktpContainer .centerSocialMedia .ftrLogoAndName {
    width: 180px;
    margin-bottom: 10px;
  }
  .ftrDsktp .ftrDsktpContainer .centerSocialMedia .socialMediaLogos {
    -webkit-column-gap: 5px;
            column-gap: 5px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 10vw;
    margin-bottom: 10px;
  }
  .ftrDsktp .ftrDsktpContainer .centerSocialMedia .socialMediaLogos .smLogo {
    width: 42px;
    opacity: 0.7;
  }
  .copyrightInfo {
    font-size: 12px;
    letter-spacing: normal;
    text-align: center;
    padding-top: 0;
    padding-bottom: 1%;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

main {
  min-height: 70vh;
}

.dsktpHeaderHmpg {
  display: none;
}

.dsktpHeader {
  display: none;
}

.mblHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  height: 15vh;
  width: 100%;
  place-items: center;
}

.mblHeader #tbltPhIcon {
  display: none;
}

.phoneIcon {
  height: 32px;
  margin-left: 5px;
  opacity: 0.8;
  margin-top: 15px;
}

.logoAndTitle {
  margin-left: 20px;
  width: 80%;
  margin-top: 2vh;
}

.hamburgerMenu .mobileMenuCheckbox {
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 40px;
  z-index: 1005;
}

.hamburgerMenu .mobileMenuCheckbox:checked ~ .mobileHeaderDropdown {
  opacity: 1;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburgerMenu .mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  height: 30px;
  margin-top: 15px;
  place-items: center;
  position: relative;
  width: 30px;
  z-index: 1004;
}

.hamburgerMenu .hamburgerMenuLine {
  background-color: #d3b468;
  border-radius: 10px;
  height: 4px;
  margin: 3px 0;
  padding: 0.5px;
  width: 30px;
  opacity: 0.8;
}

.mobileHeaderDropdown {
  background-color: #010a0a;
  display: -ms-grid;
  display: grid;
  height: 100%;
  left: 0;
  opacity: 0;
  place-items: center;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -200vh;
  width: 100%;
  z-index: 1003;
}

.mobileHeaderDropdown .dropdownLinksContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.mobileHeaderDropdown .linkHeaderDropdown {
  color: #d3b468;
  font-family: "Shippori Mincho", serif;
  font-size: 3.25rem;
  font-weight: bold;
}

.mobileHeaderDropdown #active {
  color: #ededed;
}

@media only screen and (min-width: 600px) {
  .mblHeader #mblPhIcon {
    display: none;
  }
  .mblHeader #tbltPhIcon {
    display: -ms-grid;
    display: grid;
  }
  .phoneIcon {
    height: 45px;
  }
  .logoAndTitle {
    width: 90%;
    margin-top: 2vh;
  }
  .hamburgerMenu .mobileHamburgerContainer {
    height: 45px;
    width: 40px;
  }
  .hamburgerMenu .hamburgerMenuLine {
    height: 5px;
    padding: 1px;
    width: 40px;
  }
  .hamburgerMenu .linkHeaderDropdown {
    font-size: 4.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .mblHeader {
    display: none;
    min-height: 10vh;
  }
  .dsktpHeader,
  .dsktpHeaderHmpg {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15vh;
  }
  .dsktpHeader .logoAndTitleDsktp,
  .dsktpHeaderHmpg .logoAndTitleDsktp {
    width: 300px;
    margin-left: 25px;
    margin-top: 15px;
  }
  .dsktpHeader .dsktpLinks,
  .dsktpHeaderHmpg .dsktpLinks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr;
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr;
    place-items: center;
    width: 70%;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-top: 2vh;
    margin-left: 8%;
  }
  .dsktpHeader a,
  .dsktpHeader p, .dsktpHeaderHmpg a,
  .dsktpHeaderHmpg p {
    font-size: 20px;
    font-weight: bold;
    color: #403637;
  }
  .dsktpHeader a:hover,
  .dsktpHeader p:hover, .dsktpHeaderHmpg a:hover,
  .dsktpHeaderHmpg p:hover {
    color: #d3b468;
  }
  .dsktpHeader p, .dsktpHeaderHmpg p {
    color: #d3b468;
    font-size: 20px;
    padding-top: 2px;
  }
  .dsktpHeaderHmpg a,
  .dsktpHeaderHmpg p {
    color: #ededed;
  }
  .dsktpHeaderHmpg p {
    color: #d3b468;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

main {
  min-height: 70vh;
}

.menuDsktpContainer {
  display: none;
}

.heroImg {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 2%;
  width: 100%;
}

#ordPickup {
  font-family: "Libre Baskerville", serif;
  color: #403637;
  font-weight: bold;
  font-style: italic;
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}

.menuContainerMbl {
  color: #403637;
  font-size: 30px;
  font-weight: bold;
  font-family: "Shippori Mincho", serif;
  letter-spacing: 6px;
  margin-top: 8px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.menuContainerMbl h1 {
  font-size: 36px;
  letter-spacing: 6px;
  margin-top: 5%;
}

.menuContainerMbl .gfItem {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 10px;
}

.menuContainerMbl .mblFoodDropdown .mblFoodChkbox {
  height: 120px;
  width: 80vw;
  left: 10vw;
  position: absolute;
  opacity: 0;
  z-index: 1001;
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuTitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
  margin: auto;
  border-radius: 10px;
  width: 80vw;
  height: 120px;
  margin-bottom: 5px;
  background-size: cover;
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuTitle h2 {
  background: rgba(0, 0, 0, 0.7);
  border: solid 1px rgba(198, 198, 198, 0.4);
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px #000000;
          box-shadow: 2px 2px 4px #000000;
  width: 45vw;
  color: #ededed;
  font-size: 1em;
  font-weight: bold;
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuTitle .dropdownArrow {
  width: 15px;
}

.menuContainerMbl .mblFoodDropdown #foodMenuTitle1 {
  background-image: url(../images/bruschettaAppetizer2.jpg);
}

.menuContainerMbl .mblFoodDropdown #foodMenuTitle2 {
  background-image: url(/images/duckRadishPizza.jpg);
}

.menuContainerMbl .mblFoodDropdown #foodMenuTitle3 {
  background-image: url(../images/mushroomSpinachPappardelle.jpg);
}

.menuContainerMbl .mblFoodDropdown #foodMenuTitle4 {
  background-image: url(../images/craftBeerPints2.jpg);
}

.menuContainerMbl .mblFoodDropdown #foodMenuTitle5 {
  background-image: url(../images/cannoliDessert2.jpg);
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuContents {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  position: absolute;
  width: 100px;
  background: #ededed;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  top: -50;
  min-height: 20vh;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuContents .menuItem {
  width: 70%;
  margin-bottom: 5px;
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuContents .menuItem .menuItemHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.5fr;
      grid-template-columns: 2fr 0.5fr;
  width: 80vw;
  place-items: start;
  margin-top: 2%;
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuContents .menuItem .menuItemHeader h3 {
  font-family: "Libre Baskerville", serif;
  color: #403637;
  font-weight: bold;
  font-size: 18px;
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuContents .menuItem .menuItemHeader .price {
  -ms-grid-column-align: end;
      justify-self: end;
  border-left: 1px solid black;
  padding-left: 25px;
}

.menuContainerMbl .mblFoodDropdown .mblFoodMenuContents .menuItem p {
  font-family: "Libre Baskerville", serif;
  color: #403637;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  font-style: italic;
}

.menuContainerMbl .mblFoodDropdown .mblFoodChkbox:checked ~ .mblFoodMenuContents {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  top: 50;
  place-items: start;
  opacity: 1;
  z-index: 1000;
  width: 80vw;
  position: relative;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.orderButton {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #ddc589;
  border-radius: 8px;
  -webkit-box-shadow: 1.5px 1.5px 5px;
          box-shadow: 1.5px 1.5px 5px;
  color: #403637;
  font-weight: bold;
  height: 20px;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  height: 25px;
  padding-top: 3px;
  width: 35%;
  margin-bottom: 10px;
}

.orderButton a {
  color: #403637;
}

@media only screen and (min-width: 600px) {
  .heroImg {
    height: 400px;
  }
  #ordPickup {
    font-family: "Libre Baskerville", serif;
    color: #403637;
    font-weight: bold;
    font-size: 30px;
  }
  .menuContainerMbl h1 {
    font-size: 50px;
  }
  .menuContainerMbl .gfItem {
    font-size: 22px;
  }
  .menuContainerMbl .mblFoodDropdown .mblFoodChkbox {
    height: 250px;
    width: 50vw;
    left: 25%;
  }
  .menuContainerMbl .mblFoodDropdown .mblFoodMenuTitle {
    height: 250px;
  }
  .menuContainerMbl .mblFoodDropdown .mblFoodMenuTitle h2 {
    width: 30vw;
    font-size: 2em;
  }
  .menuContainerMbl .mblFoodDropdown .mblFoodMenuTitle .dropdownArrow {
    width: 30px;
  }
  .orderButton {
    display: -ms-grid;
    display: grid;
    place-items: center;
    font-size: 30px;
    height: 50px;
    width: 30%;
  }
  .orderButton #inactiveDsktp {
    pointer-events: none;
  }
  #inactiveDsktp {
    pointer-events: none;
  }
}

@media only screen and (min-width: 1000px) {
  .menuContainerMbl {
    display: none;
  }
  .heroImg {
    height: 400px;
    width: 100%;
    display: block;
    margin: auto;
  }
  #ordPickup {
    font-family: "Libre Baskerville", serif;
    color: #403637;
    font-weight: bold;
    font-size: 20px;
  }
  .menuDsktpContainer {
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin-top: 50px;
  }
  .menuDsktpContainer h1 {
    color: #403637;
    font-size: 30px;
    font-weight: bold;
    font-family: "Shippori Mincho", serif;
    letter-spacing: 6px;
    font-size: 60px;
    margin-bottom: 20px;
  }
  .menuDsktpContainer .dsktpMenuSectionContainer3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 1.25fr 2fr;
        grid-template-rows: 0.5fr 1.25fr 2fr;
    place-items: center;
    width: 80vw;
    margin-bottom: 50px;
  }
  .menuDsktpContainer .dsktpMenuSectionContainer3 .dsktpMenu3ItemContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    width: 60vw;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .menuDsktpContainer .dsktpMenuSectionContainer9 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 3fr 2fr;
        grid-template-rows: 0.5fr 3fr 2fr;
    place-items: center;
    width: 80vw;
    margin-bottom: 50px;
  }
  .menuDsktpContainer .dsktpMenuSectionContainer9 #pizzaH1 {
    margin-bottom: 0;
  }
  .menuDsktpContainer .dsktpMenuSectionContainer9 .halfpricePizza {
    margin-bottom: 30px;
  }
  .menuDsktpContainer .dsktpMenuSectionContainer9 .dsktpMenu9ItemContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    width: 60vw;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 15px;
  }
  .menuDsktpContainer .dsktpMenuItemContainer {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-rows: 0.5fr 2fr 0.5fr;
        grid-template-rows: 0.5fr 2fr 0.5fr;
  }
  .menuDsktpContainer .dsktpMenuItemContainer h2 {
    font-family: "Libre Baskerville", serif;
    color: #403637;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
  }
  .menuDsktpContainer .dsktpMenuItemContainer p {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: #403637;
    font-weight: bold;
    font-style: italic;
  }
  .menuDsktpContainer .dsktpMenuItemContainer h4 {
    font-family: "Libre Baskerville", serif;
    color: #403637;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
  }
  .menuDsktpContainer .phNmbrDsktp {
    font-size: 30px;
    font-weight: bold;
    color: #d3b468;
  }
  .menuDsktpContainer .dsktpFoodImg {
    width: 70vw;
    height: 225px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
  }
  .menuDsktpContainer p {
    font-family: "Libre Baskerville", serif;
    color: #403637;
    font-weight: bold;
    font-style: italic;
    font-weight: 14px;
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=menuPage.css.map */