@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Shippori+Mincho:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

footer {
  min-height: 10vh;
}

hr {
  border: 1px solid #403637;
  opacity: 0.6;
  width: 90%;
  margin: auto;
}

.footerGrid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  text-align: center;
  width: 70%;
  margin: auto;
}

.footerGrid .textFooter {
  color: #403637;
  font-family: "Libre Baskerville", serif;
  font-size: 55%;
  letter-spacing: 3px;
}

.footerGrid :first-child {
  padding-top: 3%;
}

.footerGrid #inactiveDsktp {
  pointer-events: none;
}

.footerGrid .socialMediaLogos {
  -webkit-column-gap: 5px;
          column-gap: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 40%;
  margin-right: 40px;
}

.footerGrid .socialMediaLogos .smLogo {
  width: 42px;
  opacity: 0.7;
}

.footerGrid .copyrightInfo {
  font-size: 100%;
  letter-spacing: normal;
  padding-top: 5%;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  max-height: 20vh;
  width: 100%;
  place-items: center;
}

.phoneIcon {
  height: 35px;
  margin-left: 5px;
  opacity: 0.8;
  padding-top: 15px;
}

.logoAndTitle {
  padding-left: 20px;
  width: 80%;
  margin-top: 10px;
}

.hamburgerMenu .mobileMenuCheckbox {
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 40px;
  z-index: 1005;
}

.hamburgerMenu .mobileMenuCheckbox:checked ~ .mobileHeaderDropdown {
  opacity: 0.89;
  top: 0vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburgerMenu #homepageDropdown {
  opacity: 1;
}

.hamburgerMenu .mobileHamburgerContainer {
  display: -ms-grid;
  display: grid;
  height: 30px;
  padding-top: 5px;
  place-items: center;
  position: relative;
  width: 30px;
  z-index: 1004;
}

.hamburgerMenu .hamburgerMenuLine {
  background-color: #d3b468;
  border-radius: 10px;
  height: 4px;
  margin: 3px 0;
  padding: 0.5px;
  width: 30px;
  opacity: 0.8;
}

.hamburgerMenu .mobileHeaderDropdown {
  background-color: #010a0a;
  display: -ms-grid;
  display: grid;
  height: 100%;
  left: 0;
  opacity: 0;
  place-items: center;
  position: fixed;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  top: -200vh;
  width: 100%;
  z-index: 1003;
}

.hamburgerMenu .mobileHeaderDropdown .dropdownLinksContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hamburgerMenu .mobileHeaderDropdown .linkHeaderDropdown {
  color: #d3b468;
  font-family: "Shippori Mincho", serif;
  font-size: 13vw;
  font-weight: bold;
}

.hamburgerMenu .mobileHeaderDropdown #active {
  color: #ededed;
}

@media only screen and (min-width: 600px) {
  .phoneIcon {
    height: 50px;
  }
  .logoAndTitle {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 30vw;
    margin-top: 20px;
  }
  .hamburgerMenu .mobileHamburgerContainer {
    height: 50px;
    width: 40px;
  }
  .hamburgerMenu .hamburgerMenuLine {
    height: 5px;
    padding: 1px;
    width: 40px;
  }
  .hamburgerMenu .mobileHeaderDropdown .linkHeaderDropdown {
    font-size: 10vw;
  }
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 70vh;
}

.heroImg {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 2%;
  width: 100%;
}

.menuContainer {
  color: #403637;
  display: -ms-grid;
  display: grid;
  font-size: 1.5em;
  font-weight: bold;
  place-items: center;
  text-align: center;
  margin-top: 10px;
  display: grid;
  place-items: center;
}

.menuContainer h1 {
  letter-spacing: 6px;
  margin-top: 5%;
}

.menuContainer .gfItem {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 20px;
  margin-top: 10px;
}

.menuContainer .mblFoodDropdown .mblFoodChkbox {
  height: 120px;
  width: 80vw;
  left: 10vw;
  position: absolute;
  opacity: 0;
  z-index: 1001;
}

.menuContainer .mblFoodDropdown .mblFoodMenuTitle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
  margin: auto;
  border-radius: 10px;
  width: 80vw;
  height: 120px;
  margin-bottom: 5px;
  background-size: cover;
}

.menuContainer .mblFoodDropdown .mblFoodMenuTitle h2 {
  background: rgba(0, 0, 0, 0.7);
  border: solid 1px rgba(198, 198, 198, 0.4);
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px #000000;
          box-shadow: 2px 2px 4px #000000;
  width: 45vw;
  color: #ededed;
  font-size: 1em;
  font-weight: bold;
}

.menuContainer .mblFoodDropdown .mblFoodMenuTitle .dropdownArrow {
  width: 15px;
}

.menuContainer .mblFoodDropdown #foodMenuTitle1 {
  background-image: url(../images/bruschettaAppetizer2.jpg);
}

.menuContainer .mblFoodDropdown #foodMenuTitle2 {
  background-image: url(/images/duckRadishPizza.jpg);
}

.menuContainer .mblFoodDropdown #foodMenuTitle3 {
  background-image: url(../images/mushroomSpinachPappardelle.jpg);
}

.menuContainer .mblFoodDropdown #foodMenuTitle4 {
  background-image: url(../images/craftBeerPints2.jpg);
}

.menuContainer .mblFoodDropdown #foodMenuTitle5 {
  background-image: url(../images/cannoliDessert2.jpg);
}

.menuContainer .mblFoodDropdown .mblFoodMenuContents {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  position: absolute;
  width: 100px;
  background: #ededed;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  top: -50;
  min-height: 20vh;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menuContainer .mblFoodDropdown .mblFoodMenuContents .menuItem {
  width: 70%;
  margin-bottom: 5px;
}

.menuContainer .mblFoodDropdown .mblFoodMenuContents .menuItem .menuItemHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 0.5fr;
      grid-template-columns: 2fr 0.5fr;
  width: 80vw;
  place-items: start;
  margin-top: 2%;
}

.menuContainer .mblFoodDropdown .mblFoodMenuContents .menuItem .menuItemHeader h3 {
  color: #403637;
  font-size: 1em;
  font-weight: bold;
  font-size: 18px;
}

.menuContainer .mblFoodDropdown .mblFoodMenuContents .menuItem .menuItemHeader .price {
  -ms-grid-column-align: end;
      justify-self: end;
  border-left: 1px solid black;
  padding-left: 25px;
}

.menuContainer .mblFoodDropdown .mblFoodMenuContents .menuItem p {
  color: #403637;
  font-size: 1em;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  font-style: italic;
}

.menuContainer .mblFoodDropdown .mblFoodChkbox:checked ~ .mblFoodMenuContents {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  top: 50;
  place-items: start;
  opacity: 1;
  z-index: 1000;
  width: 80vw;
  position: relative;
  margin-top: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.orderButton {
  background: #ddc589;
  border-radius: 10px;
  -webkit-box-shadow: 1.5px 1.5px 5px;
          box-shadow: 1.5px 1.5px 5px;
  color: #403637;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  height: 25px;
  padding-top: 3px;
  width: 35%;
  margin-bottom: 10px;
}

.orderButton:active {
  height: 25px;
  background: #d3b468;
  font-size: 20px;
  -webkit-transition: font 0.2s ease-in-out;
  transition: font 0.2s ease-in-out;
}

.orderButton a {
  color: #403637;
}

@media only screen and (min-width: 600px) {
  .heroImg {
    height: 400px;
  }
  .menuContainer h1 {
    font-size: 3em;
  }
  .menuContainer .gfItem {
    font-size: 22px;
  }
  .menuContainer .mblFoodDropdown .mblFoodChkbox {
    height: 250px;
    width: 50vw;
    left: 25%;
  }
  .menuContainer .mblFoodDropdown .mblFoodMenuTitle {
    height: 250px;
  }
  .menuContainer .mblFoodDropdown .mblFoodMenuTitle h2 {
    width: 30vw;
    font-size: 2em;
  }
  .menuContainer .mblFoodDropdown .mblFoodMenuTitle .dropdownArrow {
    width: 30px;
  }
  .orderButton {
    display: -ms-grid;
    display: grid;
    place-items: center;
    font-size: 30px;
    height: 50px;
    width: 30%;
  }
  .orderButton #inactiveDsktp {
    pointer-events: none;
  }
  #inactiveDsktp {
    pointer-events: none;
  }
}
/*# sourceMappingURL=menuPage.css.map */